### Symfony Standard (Symfony 6/7) ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/
/assets/vendor/
/var/
/vendor/

### PHPUnit ###
/phpunit.xml
/.phpunit.cache/
